@page
@model WebApplication1.Pages.CurrencyConverterModel
@{
}



<header style="background-color:antiquewhite" class="text-center">
    
   
        <h1 class="display-4">Currency Converter</h1>
        <h2 class="display-3">by Roshan</h2>

    <div class="container col-md-6 align-self-center text-center">
        <h2>Task 2 - Convert from Pounds to USD</h2>
        <p>Convertion rate: 1 GBP = 1.14 USD</p>
        <br />
        <form method="post">
            <p>Insert how much you want to convert:</p>
            <p>
                <input min="0" step="0.01" asp-for="@Model.Amount" type="number" required /> GBP
                <button class="btn btn-primary">Convert</button>
            </p>
        </form>
        <p>
            @ViewData["Message"]
        </p>
    </div>
    
