@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

 <style="background-color:antiquewhite">


    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Index1">Task1-Input Form</a>

        </li>
    </ul>
           
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/CurrencyConverter">Task2-Currency Converter</a>

            </li>
        </ul>
    </style>




    

       

